<div class="form-group row">
  <div class="col-xs-2">
    <label for="ex1">DESCRICAO</label>
    <input class="form-control" id="ex1" type="text" placeholder="Descrição ">
  </div>
  <div class="col-xs-3">
    <label for="ex2">VALOR</label>
    <input class="form-control" id="ex2" type="text" placeholder="Valor">
  </div>
  <div class="col-xs-2">
    <label for="ex3">Codigo P </label>
    <input class="form-control" id="ex3" type="text" placeholder="Codigo P" alt="Codigo Promocional">
  </div>
</div>
<button  type="button" class="btn btn primary">Gravar</button>
