<div class="wrapper">
  <vhs-header></vhs-header>
  <div class="content-wrapper">
    <div class="container">
      <h1>Pessoas </h1>        
      <!-- <vhs-pessoa *ngFor="let pessoas of pessoas" [pessoas]="pessoas" (selectVideo)="onSelectVideo($event)"></vhs-pessoa>   
     -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <strong>Versão  </strong><b>{{Versao}}</b>
      </div>
      <strong>VHS DESENVOLVIMENTO LTDA  </strong>
    </div>
  </footer>
</div>